*{
    box-sizing:border-box;
    font-family:'calibri';
}

body{
    margin:0;
    padding:0;
    text-align:center;
}

input[type='text']{
    width:100px;
}

#scoreToAdd{
    width:50px;
}

#addPlayer{
    margin-bottom:10px;
}

#players > *{
    margin-bottom:10px;
}

header > img{
    object-fit:contain;
    max-width: 100%;
}

button{
    background-color:#E561A6;
}
