*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:'Calibri';
    font-size:1.25rem;
}
body, html{
    height:100vh;
    width:100vw;
}
body{
    text-align:center;
    background-color:black;
}

img{
    width:75%;
    padding-top:2rem;
}

#playersContainer{
    color:white;
}


.scoreToAdd{
    width:20%;
}
#addPlayerInput{
    width:50%;
}
.player{
    margin-top:0.5rem;
    color:white;
    display:flex;
/*     border:1px solid red; */
    width:95%;
    margin-inline:auto;
    gap:0.3rem;
}

.playerName{
    flex-basis:40%;
    text-align:right;
}

button{
    background-color:#7D64DF;
    width:2rem;
}

hr{
    width:75%;
    margin-top: 0.75rem;
    margin-inline:auto;
}

/* code below this controls color selector */
ul{
    list-style-type:none;
    line-height:1.5rem;
    position:absolute;
    background-color:#ffffff;
    width:10rem;
    top:1.6rem;
    display:none;
    text-align:left;
  }
  #dropdown{
    margin-inline:auto;
    margin-top:0.5rem;
    position:relative;
    width:10rem;
    background-color:#ffffff;
    display:flex;
    align-items:center;
    cursor:default;
  }

  p{
    text-align:left;
  }
  
  #dropdown>*{
      flex:1;
  }
  .down{
    text-align:right;
  }
  .block{
    display:block;
  }

